<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drwaer2"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/techslogooo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.drwaer2.splash"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.drwaer2.Main"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.events"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.help"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.brainteaser"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.technical"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.email"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.gallery"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".imageslides.imagemain"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.gaming"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.programming"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.robotics.robotmain"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.robotics.rocombat"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
         <activity
            android:name="com.drwaer2.robotics.roconstru"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.robotics.roblitz"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.robotics.rosoccer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.robotics.rosplash"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.robotics.roterrance"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.robotics.ronavigator"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.robotics.rocombatimageadapter"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.drwaer2.creativity.createmain"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.creativity.mmlive"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.creativity.art"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.creativity.passionwithreels"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.creativity.spotlight"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.creativity.theuntoldsrotry"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.proficiency.promain"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.proficiency.arcania"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.proficiency.technomania"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.proficiency.ennovation"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
        <activity
            android:name="com.drwaer2.proficiency.omegatrix"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" />
    </application>

</manifest>